#imgbox {
    border: solid red;
    height: 600px;
}
#guessbox {
    border: dotted blue;
    height: 600px;
}
#heading {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
body {
    background-image: url(assets/images/saby-menyhei-hogwartsinthesnow-final.jpg);
    
  background-position: center;
  background-repeat: no-repeat; 
  background-size: 100% 100%;

  
}
div {
    margin-top: 50px;
    font-family: 'Kaushan Script', cursive;
    font-size: 

}

